* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* .side {
    background-color: black;
    color: aliceblue;
    margin-top: 10px;
    height: 100vh;
    width: 400px;
    position: absolute;
    top: 0px
} */