
.Student-Card {
    display: flex;
    justify-content: center;
    height: 470px;
}
.cardss {
    background-color: white;
    width: 400px;
    border: 4px solid;
    border-radius: 15px;
}
.cardss .student-Image {
    height: 210px;
    display: flex;
    justify-content: center;
    background-color:#f0f8ff;
}
.cardss .student-Image img {
    height: 200px;
    border-radius: 50%;
}
.datass {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}